<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container justify-content-center mt-5">
        <h1 class="text-center">
          <%= heading%>
        </h1>
        <% if (locals.post){ %>
          <form id="editPostForm" method="post" action="/edit/<%= post.id%>" class="d-flex flex-column" enctype="multipart/form-data">
            <input type="text" name="category" value="<%= post.category%>" required>
            <input type="text" name="title" value="<%= post.title%>" required>
            <textarea name="post_content" placeholder="<%= post.post_content%>" required rows="10"></textarea>
            <input type="text" name="author" value="<%= post.author%>" required>
            <input type="file" name="picture" accept="image/*" required>
            <!-- Display the current image -->
            <img src="/uploads/<%= post.picture%>" alt="Current Image" style="max-width: 100px; max-height: 100px;">
            <button class="full-width btn btn-success" type="submit">
              <%= submit%>
            </button>
        </form>
        <% } else{%>
       
        <form id="newPostForm" method="post" action="/api/posts" class="d-flex flex-column" enctype="multipart/form-data">
            <input type="text" name="category" placeholder="Category" required>
            <input type="text" name="title" placeholder="Title" required>
            <textarea name="post_content" placeholder="Content" required rows="10"></textarea>
            <input type="text" name="author" placeholder="Author" required>
            <input type="file" name="picture" accept="image/*" required>
            <button class="full-width btn btn-success" type="submit">
              <%= submit%>
            </button>
        </form>
        <% } %>
    </div> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
